@model IEnumerable<DynamicsOData.Models.DynamicsEntities.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.DataAreaId).Titled("DataAreaId");
        columns.Add(model => model.CustomerGroupId).Titled("CustomerGroupId");

        columns.Add(model => model.Name).Titled("Name");
    })
    .Filterable()
    .Sortable()
    .Pageable()
)


@section Scripts {
    <script src="~/js/mvc-grid.js"></script>
    <script>
        $('.mvc-grid').mvcgrid();
    </script>
}